.Container {
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 4px 8px;
  color: #ffffff;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
}
