.LoadingIcon {
    animation: rotate 1s linear infinite;
    color: var(--primary-color);
}

@keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
}
