.NavBar {
  box-sizing: border-box;

  width: 100%;
  padding: 10px 32px;

  background: var(--top-nav-color);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.LogoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CollapsedDivContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CollapseButton {
  padding: 4px;
  background-color: var(--white-color);
  border: 1px solid var(--default-border-color);
  border-radius: 8px;
}

.IconContainer {
  display: flex;
  flex: auto;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
}

.Icon {
  justify-content: end;
  max-width: auto;
}

.CloudBtn {
  background-color: var(--primary-color);
  padding: 0px 12px;
  border: 1px solid var(--primary-color);
  border-radius: 24px;
  width: 50px;
  height: 35px;
}

@media (max-width: 600px) {
  .CollapsedNavBar.NavBar {
    height: var(--top-nav-height);
  }
  .CollapsedNavBar > .IconContainer {
    display: none;
  }
  .NavBar {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 10px 24px;
  }
  .CollapsedDivContainer {
    max-width: 100%;
    width: 100%;
  }
  .IconContainer {
    max-width: 80%;
    width: 80%;
    align-self: center;
  }
  .Icon {
    justify-content: start;
    width: 100%;
    max-width: 90%;
  }
}
