.NavBar {
  box-sizing: border-box;

  position: sticky;
  top: 0px;
  width: 100%;
  height: var(--top-nav-height);
  padding: 10px 32px;

  background: var(--top-nav-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.IconContainer {
  display: flex;
  flex: auto;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
}

.CloudBtn {
  background-color: var(--primary-color);
  padding: 0px 12px;
  border: 1px solid var(--primary-color);
  border-radius: 24px;
  width: 50px;
  height: 35px;
}
