ALGOLIA_APP_ID="CAP0G4E72G"
ALGOLIA_ADMIN_KEY="11c63961bb960f874ea2bd1afcb44b2a"
ALGOLIA_CLIENT_ID="CAP0G4E72G"
ALGOLIA_INDEX="openmetadata-v1-v1.11.x"'

NEXT_PUBLIC_ALGOLIA_APP_ID="CAP0G4E72G"
NEXT_PUBLIC_ALGOLIA_API_KEY="2b0903e4b18f5bcd8d6e40684803d110"
