.Container {
  margin-top: 24px;
  padding: 16px;
  background: #dde3ea66;
  border-radius: 4px;
  border-left: 4px solid #2eaadc;
  display: flex;
  gap: 8px;
}

.Container ul,
.Container p {
  margin-top: 0px !important;
}

.Icon {
  width: 16px;
  height: 16px;
  margin-top: 4px;
}
