.Container {
  margin-top: 24px;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  gap: 8px;
}

.Container ul,
.Container p {
  margin-top: 0px !important;
}

.Icon {
  width: 16px;
  height: 16px;
  margin-top: 4px;
}

.Note {
  background: #dde3ea66;
  border-left: 4px solid #2eaadc;
}

.Warning {
  background: #fffae8;
  border-left: 4px solid #ffa421;
}

.Tip {
  background: #b02aac0f;
  border-left: 4px solid #b02aac;
}
