.Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.ConnectorItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ConnectorItem > p {
  margin: 0px;
}

.ConnectorImg {
  max-height: 42px;
  max-width: 42px;
}
