.Container{
  display: flex;
  gap: 8px;
  height: 500px;
  overflow-y: hidden;
}

.TabsContainer{
  flex: 0 0 auto;
  width: 200px;
  padding-right: 16px;
  border-right: 1px solid var(--default-border-color);
}

.TabItem{
  display: block;
  width: 100%;
  text-align: start;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.TabItem:hover{
  background-color: var(--primary-background-color);
}

.SelectedTab{
  border: 0.5px solid var(--select-border-color);
  background-color: var(--primary-background-color);
  color: var(--primary-color);
  font-weight: 600;
}

.ConnectorsContainer{
  max-height: 100%;
  overflow-y: scroll;
}

.ConnectorsGridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
  gap: 20px;
  padding: 16px;
}

.ConnectorItem {
  color: var(--default-text-color);
  display: flex;
  height: 65px;
  width: 200px;
  align-items: center;
  gap: 10px;
  transition: box-shadow 0.2s linear;
  padding: 8px;
  border-radius: 10px;
}

.ConnectorItem:hover {
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.09);
}

.ConnectorItem > p {
  margin: 0px;
}

.ConnectorImg {
  max-height: 42px;
  max-width: 42px;
  aspect-ratio: 1 / 1;
}

@media (max-width: 1200px) {
  .ConnectorsGridContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .ConnectorsGridContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .ConnectorsGridContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .ConnectorsGridContainer {
    gap: 16px;
  }
  .ConnectorImg {
    max-height: 16px;
    max-width: 16px;
  }
}
