.Heading {
  display: flex;
  align-items: center;
  gap: 8px;
}

.Heading > h4 {
  margin: 0px;
  font-weight: 500;
}

.Description {
  margin-left: 48px; /* step-icon width = 32px + left margin of heading = 16px */
}

.HighlightedStepHeading {
  color: var(--primary-color);
}
