.Container {
  position: relative;
  padding: 16px;
  width: 346px;
  background: #ffffff;
  border: 1px solid rgba(221, 227, 234, 0.6);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.Heading {
  font-weight: 600;
  font-size: 20px;
  margin: 16px 0px 4px 0px;
}

.ArrowIcon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
