.Container {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #697386;
}

.Divider {
  margin: 0px 8px;
}

.HomeIcon {
  margin-top: 2px;
}

.BreadcumbLink {
  cursor: pointer;
}

.BreadcumbLink:hover {
  color: black;
}
