@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --top-nav-height: 75px;
  --main-nav-height: 37px;
  --side-nav-width: min(20%, 300px);
  --content-div-width: min(17%, 250px);
  --default-border-color: #dce3ec;
  --primary-color: #1890ff;
  --homepage-container-px: 130px;
}

body {
  font-family: -apple-system, system-ui, sans-serif, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #3c4257;
  margin: 0;
}

p {
  line-height: 1.5em;
  margin: 16px 0px;
}

h1 {
  font-size: 36px;
  padding-bottom: 16px;
  margin: 16px 0px;
  border-bottom: 1px solid var(--default-border-color);
}

h2 {
  font-size: 28px;
  margin: 16px 0px;
}

h3 {
  font-size: 24px;
  margin: 16px 0px;
}

h4 {
  font-size: 20px;
  margin: 16px 0px;
}

h5 {
  font-size: 16px;
  margin: 16px 0px;
}

h6 {
  font-size: 8px;
  margin: 16px 0px;
}

a {
  color: #1890ff;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

li::marker {
  color: #1890ff;
}

ul {
  list-style: disc;
  list-style-position: inside;
}

.divider {
  color: var(--default-border-color);
}

.icons {
  height: 2rem;
  width: 2rem;
}

.cloud-button {
  border-radius: 1rem;
  border: 1px solid rgb(194, 128, 255);
  background-color: rgb(194, 128, 255);
}
.search-box {
  height: 2.25rem;
  width: 550px;
  border: 1px solid #f4f4f4;
  border-radius: 0.5rem;
  background-color: #f4f4f4;
  padding: 4px 20px;
  color: #9e9d9d;
  display: flex;
  align-items: center;
}

.search {
  width: 90%;
  height: 90%;
  border: none;
  background-color: #f4f4f4;
  outline: none;
}

.search-icon {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.main-nav {
  grid-area: mainNav;
}

.home-page {
  grid-area: homePage;
}

.left-nav {
  grid-area: leftNav;
}

.content {
  grid-area: content;
  padding: 32px 48px;
  margin-top: var(--main-nav-height);
}

.footer {
  grid-area: footer;
}

.overview-container {
  width: 1440px;
  height: 228px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 130px;
  background: #f4f7ff;
}

.overview-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 12px;
}

.container-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 40px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
}

.homepage-containers {
  padding: 0px 130px;
  margin: 80px 0px 0px 0px;
}

#myUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nested {
  display: none;
}

.active {
  display: block;
  color: var(--primary-color);
}

.DownArrow {
  display: none;
}

.RightArrow {
  display: block;
}

.caret-down > .DownArrow {
  display: block;
}

.caret-down > .RightArrow {
  display: none;
}
