.APIsPageSideNavContainer {
  min-width: var(--api-side-nav-width);
  height: 100vh;
  padding: 12px;
  padding-left: 0px;
  border-right: 1px solid var(--default-border-color);
  position: sticky;
  top: 0px;
}

.Heading {
  padding-bottom: 12px;
  padding-left: 12px;
  display: flex;
  gap: 6px;
}

.OpenMetadata {
  font-size: 16px;
  font-weight: 700;
}

.Api {
  font-weight: 700;
  color: var(--primary-color);
}

.Search {
  display: flex;
  margin-left: 12px;
  margin-bottom: 8px;
  padding: 3px 6px;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-text-color);
  font-size: 14px;
  border: 1px solid var(--default-border-color);
  border-radius: 8px;
  background-color: var(--top-nav-color);
  opacity: 80%;
  cursor: pointer;
}

.Search:hover {
  opacity: 100%;
}

.SearchIcon {
  height: 12px;
}

.HotKeyContainer {
  padding: 2px 8px;
  font-size: 12px;
  margin: 0px 2px;
  font-size: 10px;
  border: 1px solid var(--default-border-color);
  border-radius: 4px;
  background-color: var(--top-nav-color);
}

.SearchModalMask {
  background-color: rgba(82, 95, 127, 0.25);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  overscroll-behavior-y: contain;
}

.SearchModal {
  height: fit-content;
  margin-top: 64px;
  background-color: var(--white-color);
  border-radius: 8px;
  width: 40%;
  padding: 16px;
  z-index: 90;
}

.SearchContainer {
  width: 100% !important;
}

.SearchResults {
  position: static !important;
  margin-top: 8px !important;
}
