.Container {
  padding: 0px 12px 0px 0px;
  margin-top: 8px;
  height: fit-content;
  position: fixed;
  width: var(--content-div-width);
  right: 0px;
  top: calc(var(--top-nav-height) + var(--main-nav-height));
  overflow-y: scroll;
  max-height: calc(100vh - var(--top-nav-height) - var(--main-nav-height));
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.Container::-webkit-scrollbar {
  display: none;
}

.ContentHeading {
  border-left: 1px solid #dde3ea;
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 12px 8px;
  font-weight: 600;
  font-size: 16px;
  color: #76746f;
}

.ContentLink {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
}

.ContentLink:hover {
  text-decoration: underline;
}

.ContentList {
  padding-left: 16px;
  border-left: 1px solid #dde3ea;
  list-style: none;
}

.ContentList > li {
  margin: 0px 0px 8px 0px;
}

.ListItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #76746f;
}

.Level1 {
  @apply pl-1;
}
.Level2 {
  @apply pl-3;
}
.Level3 {
  @apply pl-5;
}
.Level4 {
  @apply pl-7;
}
.Level5 {
  @apply pl-9;
}
.Level6 {
  @apply pl-11;
}
