.Container {
  display: grid;
  position: absolute;
  margin-top: 75px;
  width: 100%;
  background-color: #ffffff;
  grid-template-columns:
    var(--side-nav-width) calc(
      100vw - var(--side-nav-width) - var(--content-div-width)
    )
    var(--content-div-width);
  grid-template-areas:
    "mainNav mainNav mainNav"
    "homePage homePage homePage"
    "leftNav content content"
    "leftNav footer footer";
}
