.Content {
  scroll-padding-top: 40px;
}

.TopNavContainer {
  padding: 20px 72px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-size: 14px;
}

.APIRefContainer {
  color: var(--primary-color);
}
