.Container {
  position: relative;
  padding: 16px;
  width: 346px;
  display: flex;
  flex-direction: column;
}

.Heading {
  font-weight: 600;
  font-size: 20px;
  margin: 0px 0px 4px 0px;
}

.Patch {
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 4px;
  top: 10px;
  left: 10px;
}
