.Container {
  padding: 80px 0px;
  margin-top: 46px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 40px;
}

.Heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 54px;
  color: #2b2a36;
}

.SubHeading {
  font-size: 24px;
  font-weight: 700;
}

.Divider {
  width: 200px;
  height: 6px;
  background-color: #ffc143;
  margin: 6px 0px 16px 0px;
}

.Content {
  width: calc(
    (100vw - (var(--homepage-container-px) * 2) - 40px) / 2
  ); /* 40px gap between fro .Container */
}

.Video {
  width: calc(
    (100vw - (var(--homepage-container-px) * 2) - 40px) / 2
  ); /* 40px gap between fro .Container */
}
