
.Heading{
    margin-top: 32px;
}

.RoadmapTableContainer{
    position: relative;
}

.RoadmapTable{
    margin: 24px 0px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 64px repeat(8,  240px);
    gap: 1.25rem;
    overflow-x: scroll;
}

.CategoryHeaderItem{
    padding: 12px;
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.Shadow{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: calc(calc(2 + 1) + 1);
    width: 30px;
    transition: box-shadow 0.3s;
    content: '';
    pointer-events: none;
}

.LeftShadow{
    box-shadow: inset 15px 0 8px -8px rgba(0, 0, 0, 0.15);
    left: 0;
}

.RightShadow{
    box-shadow: inset -15px 0 8px -8px rgba(0, 0, 0, 0.15);
    right: 0;
}

.ReleaseNameContainer{
    padding:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(96, 165, 250);
    border-radius: 4px;
}
.ReleaseName{
    margin-bottom: 40px;
    color: black;
    white-space: nowrap;
    transform: rotate(270deg);
    font-weight: 400;
}

.RoadmapDataItem{
    min-height: 240px;
}

.FeaturesList{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.FeaturesListBorder::before{
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: -12px;
    width: 1px;
    height: 100%;
    background-color: var(--default-border-color);
}
