.Container {
  @apply flex flex-col items-start mt-3 gap-4;
  background-color: white;
}

.IconContainer {
  @apply flex items-center p-4 mr-4 mb-0 rounded-md;
}

.Icon {
  @apply text-3xl leading-none;
  @apply text-color_violet !important;
}

.Text {
  @apply text-[16px] leading-normal tracking-tight m-0;
}

.Text > p {
  @apply m-0;
  font-size: 16px;
}

:global(.dark) .Text {
  @apply text-white !important;
}

:global(.dark) .Container {
  @apply border-b-gray-90 !important;
}

.Link {
  @apply flex font-bold border-none hover:border-none hover:opacity-70;
}

/* Colors for each category */
.LibraryBackground {
  background-color: #f1f7fd;
}

.CloudBackground {
  @apply bg-[#1890FF] bg-opacity-10;
}

.KBBackground {
  @apply bg-[#FFC34E] bg-opacity-10;
}

.LibraryText {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
}
