.IframeContainer {
  position: relative;
  width: 100%;
  margin-top: 16px;
}

.Iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  max-width: 100%;
  display: inline-block;
  border: 1px solid #dde3ea;
  border-radius: 6px;
}

.CaptionContainer {
  margin-top: 16px;
}

.Caption {
  font-style: italic;
  color: gray;
  padding-top: 8px;
  font-size: 14px;
}

:global(.dark) .Caption {
  color: white;
}
