.IframeContainer {
  /* @apply relative w-full border border-gray-40 rounded-md my-6; */
  position: relative;
  width: 100%;
  border: 1px solid gray;
  border-radius: 6px;
  margin-top: 16px;
}

.Iframe {
  /* @apply w-full aspect-video rounded-md max-w-full border-none inline-block; */
  width: 100%;
  aspect-ratio: 16 / 9;
  max-width: 100%;
  display: inline-block;
}

.CaptionContainer {
  /* @apply mt-4; */
  margin-top: 16px;
}

.Caption {
  /* @apply italic text-gray-90 pt-2 md:pt-4 text-sm tracking-tight; */
  font-style: italic;
  color: gray;
  padding-top: 8px;
  font-size: 14px;
}

:global(.dark) .Caption {
  /* @apply text-white; */
  color: white;
}
