.Container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 16px;
  border: 1px solid var(--default-border-color);
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.Container:hover {
  box-shadow: 0 0 0 1px rgba(50, 50, 93, 0.01),
    0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.02);
}

.Container h4 {
  color: var(--primary-color);
  font-weight: 500;
}

.Container {
  color: rgb(78, 86, 109);
  margin-top: 8px;
  font-weight: 400;
}
