.HeaderLink {
  display: flex;
  align-items: center;
  margin-top: 32px;
  color: rgb(26, 31, 54);
}

.CopiedText {
  margin-left: 16px;
  font-size: 12px;
}

.Icon {
  margin-left: 16px;
  opacity: 0;
  cursor: pointer;
}

.HeaderLink:hover .Icon {
  opacity: 0.9;
}

.HashLink {
  overflow: hidden;
  width: 0px;
  height: 0px;
  display: block;
  visibility: hidden;
  text-decoration: none;
  pointer-events: none;
}
