.HeaderLink {
  display: flex;
  align-items: center;
  color: rgb(26, 31, 54);
  margin-top: 32px;
}

.H1Element{
  border-bottom: 1px solid var(--default-border-color);
  padding-bottom: 16px;
}

.CopiedText {
  margin-left: 16px;
  font-size: 12px;
}

.Icon {
  margin-left: 16px;
  opacity: 0;
  cursor: pointer;
}

.HeaderLink:hover .Icon {
  opacity: 0.9;
}

.HashLink {
  overflow: hidden;
  width: 0px;
  height: 0px;
  display: block;
  visibility: hidden;
  text-decoration: none;
  pointer-events: none;
  /* Using the bellow approach to add a scrolling margin, 
     Taking this approach as scroll-margin-top is ineffective due to a possible CSS bug
     for custom web components mentioned here https://developer.mozilla.org/en-US/docs/Web/CSS/:target#examples*/
  margin-top: -300px !important;
  padding-top: 300px;
}
