.TableContainer {
  overflow-x: scroll;
}

.Container {
  margin: 16px 0px;
  align-self: center;
  border: 1px solid #f0f0f0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-collapse: separate;
  border-spacing: 0px;
}

.Container thead {
  background-color: #fafafa;
}

.Container thead th {
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  font-weight: 500;
}

.Container tbody td {
  border-bottom: 1px solid #f0f0f0;
  max-width: 500px;
  min-width: 100px;
  word-break: break-all;
  word-wrap: break-word;
  hyphens: auto;
}

.Container tbody tr:hover {
  background-color: #fafafa;
}

.Container tbody tr:last-child td {
  border-bottom: none;
}

.Container thead tr th:first-child {
  border-top-left-radius: 4px;
}

.Container thead tr th:last-child {
  border-right: none;
  border-top-right-radius: 4px;
}

.Container th,
.Container td {
  padding: 8px;
}

.Container th:first-child,
.Container td:first-child {
  padding: 8px 8px 8px 16px;
}
