.Container {
  display: grid;
  position: absolute;
  margin-top: 75px;
  width: 100%;
  background-color: #ffffff;
  grid-template-columns: var(--side-nav-width) calc(
      100vw - var(--side-nav-width)
    );
  grid-template-areas:
    "mainNav mainNav "
    "homePage homePage "
    "leftNav content "
    "leftNav footer";
}
