.SideNav {
  padding: 12px;
  height: calc(100vh - var(--top-nav-height) - var(--main-nav-height));
  border-right: 1px solid var(--default-border-color);
  position: fixed;
  top: calc(var(--main-nav-height) + var(--top-nav-height));
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.SideNav::-webkit-scrollbar {
  display: none;
}

.CollapsedSideNav {
  width: 42px;
  transition: widdth 2s ease-in-out;
}

.NonCollapsedSideNav {
  width: 288px;
  transition: widdth 2s ease-in-out;
}

.LinkContainer {
  padding-left: 24px;
  list-style: none;
}

.Link {
  color: inherit;
}

.ListItem {
  padding-bottom: 12px;
  color: #76746f;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
}

.ActiveLink {
  color: var(--primary-color);
}

.CollapseIcon {
  height: 18px;
  width: 16px;
  opacity: 50%;
}
